<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>

	<h1 th:text="${title}"></h1>

	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>price</th>
				<th>date</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="good: ${goods}">
				<td th:text="${good.id}"></td>
				<td th:text="${good.denomination}"></td>
				<td th:text="${good.price}"></td>
				<td th:text="${good.createAt}"></td>
			</tr>
		</tbody>

	</table>

</body>
</html>